.container1{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}
.container1 ul li {
    list-style-type: none;
    display: inline-flex;
    font-size: 30px;
    padding-right:90px ;
    padding-top: 30px;
    
    
}
.container1 h1{
    font-family: 'Times New Roman';
    color: darksalmon;
    font-size: 50px;
    padding-left: 60px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    
}
.wall{
    filter: brightness(13%);
    
}
.section2{
    justify-items: center;
    position: absolute;
    top: 250px;
    text-align: center;
    left: 450px;
    color: blanchedalmond;
    
}
.section2 h2 {
    font-family: 'Times New Roman';
    font-size: 90px; 
}
.section2 p {
    font-size: 40px;
}
.section2 button{
    padding: 25px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color: darksalmon;
    border-radius: 45px;
    box-shadow: 0px 5px 5px 0px black;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: darksalmon;
    font-size: 35px;
}
.section3{
    text-align: center;
    color: darksalmon;
}
.section3 h2{
    font-size: 56px;
    font-family: 'Times New Roman', Times, serif;
}
.section3 p{
    font-size: 30px;
}
#Products {
    display: flex;
    padding: 65px;

}
h3{
    font-size: 45px;
    color: darksalmon;
    font-family: 'Times New Roman', Times, serif;
}
#Products p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#About {
    background-color: blanchedalmond;
    text-align: center;
}
#About p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#About h4 {
    color: darksalmon;
    font-size: 35px;
    font-family: 'Times New Roman';
}
#About img{
    border-radius: 40px;
}

#Contact h1{
    color: darksalmon;
    font-family: 'Times New Roman';
    font-size: 50px;
}
#Contact p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Contact{
    text-align: center;
    margin: 15px 15px;
}
.visit {
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px gray;
}
.visit h1{
font-size:50px ;
font-family: 'Times New Roman';
color: darksalmon;
}
.visit p {
font-size: 30px;
}

.call {
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px gray;
    margin-top: 60px;
}
.call h1{
font-size:50px ;
font-family: 'Times New Roman';
color: darksalmon;
}
.call p {
font-size: 30px;
}


.email {
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px gray;
    margin-top: 60px;
    margin-bottom: 60px;
}
.email h1{
font-size:50px ;
font-family: 'Times New Roman';
color: darksalmon;
}
.email p {
font-size: 30px;
}


.forms {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px gray;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.forms p {
font-size: 30px;
}
.forms button {
    background-color: darksalmon;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 30px 70px;
    box-shadow: 0px 5px 5px 0px black;
    cursor: pointer;
    font-size: 25px;
}
.footer {
    background-color: blanchedalmond;
    text-align: center;
    color: darksalmon;
}
.footer h1  {
    font-size: 50px;
    font-family: 'Times New Roman';

}
.footer p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer button {
    padding: 20px 50px;
    margin-left: 35px;
    color: darksalmon;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.forms input{
display: block;
width: 100%;
padding: 15px;
margin-bottom: 20px;
font-size: 16px;
border-radius: 10px;
font-family: inherit;
box-sizing: border-box;
}

.forms textarea{
display: block;
width: 100%;
padding: 15px;
margin-bottom: 20px;
font-size: 16px;
border-radius: 10px;
font-family: inherit;
box-sizing: border-box;
}
.forms textarea {
    resize: vertical;
    min-height: 120px;
}




