.container1{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}
.container1 ul li {
    list-style-type: none;
    display: inline-flex;
    font-size: 30px;
    padding-right:90px ;
    padding-top: 30px;
    
    
}
.container1 h1{
    font-family: 'Times New Roman';
    color: darksalmon;
    font-size: 50px;
    padding-left: 60px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    filter: brightness(35%);
    position: relative;
}
.section2{
    justify-items: center;
    position: absolute;
    top: 250px;
    text-align: center;
    left: 450px;
    color: blanchedalmond;
    
}
.section2 h2 {
    font-family: 'Times New Roman';
    font-size: 90px; 
}
.section2 p {
    font-size: 40px;
}
.section2 button{
    padding: 25px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color: darksalmon;
    border-radius: 45px;
}
button:hover{
    font-size: 35px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px black;
}
a:hover{
    text-decoration: underline;
    color: darksalmon;
}