.container1{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}
.container1 ul li {
    list-style-type: none;
    display: inline-flex;
    font-size: 30px;
    padding-right:90px ;
    padding-top: 30px;
    
    
}
.container1 h1{
    font-family: 'Times New Roman';
    color: darksalmon;
    font-size: 50px;
    padding-left: 60px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    filter: brightness(55%);
    position: relative;
}